.week {
    position: relative;
    &__days {
      display: flex;
      &__item {
        display: flex;
        align-items: center;
        height: 70px;
        padding: 0 32px;
        border-left: 1px solid $gray-L2;
        width: 100px; 
        border: none;
      }
    }
    &__body {
      display: flex;
    }
  
    &__time {
      display: flex;
      flex-direction: column;
      width: 99px;
      text-align: right;
      padding: 0 30px;
  
      &__slots {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        background-color: $gray-L2;
        padding: 1px;
        row-gap: 1px;
  
        .slot {
          background-color: $white;
          height: 56px;
          display: block;
          padding: 2px;

          &.today {
            background-color: $gray-L1;
          }
        }
      }
      .time {
        height: 57px;
        white-space: nowrap;
      }
    }
  }

  .dark {
    .week {
      &__time {
        background-color: #1b1b1f;
        color: $white;
      }
      &__time__slots {
        .slot {
          background-color: #1b1b1f;
          color: $white;
        }
      }
    }
  }